@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #f1eee4;
}

.logo{
    font-family: 'Big Shoulders Text', cursive;
    color: #161513;
    font-size: 24pt;
}

.navbar .nav-link{
    color: #161513;
}

.myheading{
    color: #f1eee4;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40pt;
}

.intro{
    color: #f1eee4;
}

.home{
    
}

.action {
    border: 2px solid #BF0A30;
    background-color: #BF0A30;
    color: #f1eee4;
    padding: 5px;
    margin: 2px;
}

.action:hover{
    background-color: #c91d42;
}
